 * {
    box-sizing: border-box;
}
body {
	max-width: 60em;
 	margin: 0 auto;
}

footer p {
  text-align: center;
}

.gulur {
	background-color: yellow; 
}
.raudur {
	background-color: red; 
}
.graenn {
	background-color: lime;
}
.blar {
	background-color: cyan; 
}
.box {
	font-size: 1.2em;
	height: 5em;
}
.row{display: flex;text-align:center;  flex-flow: row-reverse;}
.col{ display: flex;  flex-flow: column-reverse ;}
div{ align-items: center;justify-content: center;display: flex;flex-grow:1; text-align: center;
vertical-align: middle;}
.bingbong{display: flex;
	align-items: center;}