@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas&display=swap');
*{margin: 0;
padding: 0;}

.tvenna{display: grid;
grid-template-columns: 1fr 1fr;
text-align: center;
color: white;}



body{background-color: blue;}
.efri{height: 100vh;
background-color: mediumblue;
display: flex;
align-items: center;    justify-content: center;}


.nedri{height: 100vh;
    background: linear-gradient(mediumblue,yellow);
color: white;}
article{padding-top: 50px;}
.fjarki{
    align-items: center;
    font-family: Mountains of Christmas;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
font-size: xx-large;
padding-top: 25px;
text-align: center;
color: white;}

.hringur{height: 350px;
width: 350px;
border-radius: 50%;
background:  radial-gradient(yellow,brown);
opacity: 0.5px;}
footer{background: linear-gradient(yellow,orange);}


.con{justify-content: center;
text-align: center;
display: flex;
border-radius: 25%; }


.textinn{text-align: center;
padding-top: 200px;
font-family: Mountains of Christmas;
font-size: xx-large;}